.App {
  text-align: center;
}

@font-face {
  font-family: "Geometria";
  src: url("./fonts/Geometria/Geometria.woff");
}

@font-face {
  font-family: "Geometria-extra-bold";
  src: url("./fonts/Geometria/Geometria-ExtraBold.woff");
}

@font-face {
  font-family: "Gilroy";
  src: url("./fonts/Gilroy-FREE/Gilroy-Light.otf");
}

@font-face {
  font-family: "Gilroy-bold";
  src: url("./fonts/Gilroy-FREE/Gilroy-ExtraBold.otf");
}
