.form {
  &__type {
    font-family: "Gilroy";
    &--active {
      background: rgb(50, 56, 92);
      color: white;
    }
    &:hover {
      background: rgb(70, 76, 82);
      color: white;
    }
    &:first-child {
      border-right: 2px solid rgb(50, 56, 92);
    }
    width: 100px;
    height: 40px;
    border: none;
    color: rgb(50, 56, 92);
    font-weight: 200;
    padding: 10px;
    margin: 0;
    &-button {
      overflow: hidden;
      height: 40px;
      width: 200px;
      border-radius: 7px;
      border: 2px solid rgb(50, 56, 92);
      margin: 10px auto;
      display: flex;
      justify-content: space-evenly;
    }
  }
  &__title {
    font-family: "Geometria-extra-bold";
    font-size: 36px;
    color: rgb(50, 56, 92);
    font-weight: bold;
    margin-bottom: 10px;
  }
  &__container {
    padding: 15px;
    margin: 0 auto;
    max-width: 1200px;
  }

  &__payment {
    padding: 10px;
    border: 3px solid rgb(243, 246, 251);
    border-radius: 5px;
    &-title {
      margin-left: 5%;
      color: grey;
      font-weight: 600;
      text-align: left;
    }
    &-methods {
      padding: 0;
      list-style-type: none;
    }
    &-method {
      margin: 0 auto;
      background: rgb(201, 214, 230);
      width: 90%;
      border-radius: 5px;
      background: darkgray;
      &-title {
        color: white;
        padding: 10px;
        margin-bottom: 15px;
        margin-top: 0;
      }
      &-img {
        width: 40px;
        height: 40px;
        padding: 10px;
      }
      &--active {
        background: rgb(147, 98, 153);
      }
      &:hover {
        background: rgb(50, 56, 92);
      }
    }
  }

  &__card-data {
    background: rgb(50, 56, 92);
    border-radius: 5px;
    padding: 5px;
    padding-top: 15px;

    &--small-inputs {
      display: flex;
      justify-content: space-around;
      align-items: left;
    }
  }
}

.submit-button {
  font-family: "Geometria-extra-bold";
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(241, 47, 80, 1) 0%,
    rgba(99, 128, 185, 1) 100%
  );
  color: white;
  font-weight: 800;
  font-size: 20px;
  padding: 15px;
  width: 250px;
  border: none;
  border-radius: 10px;
  box-shadow: 6px 6px 6px gainsboro;
  margin-top: 25px;
}

@media (min-width: 768px) {
  .form {
    &__title {
      font-size: 44px;
    }

    &__payment {
      &-methods {
        display: flex;
        flex-wrap: wrap;
      }
      &-method {
        font-family: "Gilroy";
        margin: 0 10px 20px 10px;
        width: 30%;
        &-title {
          margin-bottom: 0;
        }
      }
      &-title {
        font-size: 18px;
      }
    }

    &__card-data {
      &-container {
        width: 55%;
        margin: 0 auto;
      }
    }
  }
}

@media (min-width: 1024px) {
  .form {
    &__title {
      font-size: 56px;
    }
    &__payment {
      border-radius: 15px;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      &-methods {
        &-container {
          width: 65%;
        }
      }
    }
    &__card-data {
      &-container {
        width: 35%;
      }
    }
    &__fields-container {
      display: flex;
      justify-content: space-between;
    }
  }
}
