.field {
  &__container {
    text-align: left;
    margin-bottom: 20px;
  }
  &__label {
    display: inline-block;
    width: 100%;
    font-family: "Geometria";
    padding-left: 5%;
    color: rgb(197, 197, 197);
    font-weight: 600;
  }
  &__input {
    padding: 5px;
    padding-right: 0;
    margin: 5px auto;
    display: block;
    width: 90%;
    background-color: rgb(243, 246, 251);
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 20px;
    color: rgb(50, 56, 92);
    &:focus {
      box-shadow: 6px 6px 6px grey;
      outline: black 2px solid;
    }
    &:hover {
      outline: black 2px solid;
    }
  }
  &__error {
    color: red;
    padding-left: 5%;
    font-size: 14px;
    font-weight: 600;
  }
}

@media (min-width: 768px) {
  .field {
    &__label {
      font-size: 18px;
    }
    &__error {
      font-size: 16px;
    }
  }
}

@media (min-width: 1024px) {
  .field {
    &__input {
      font-size: 24px;
    }
  }
}
