.form {
  &__hint {
    font-family: "Geometria";
    color: rgb(56, 62, 97);
  }
  &__help-types {
    font-family: "Geometria-extra-bold";
    margin-top: 20px;
    list-style-type: none;
  }
  &__help-type {
    margin: 5px auto;
    display: flex;
    align-items: center;
    &:hover {
      & .form__help-type-img {
        box-shadow: 6px 6px 6px gray;
      }
      & .form__help-type-title {
        color: rgb(56, 62, 97);
      }
    }

    &-img {
      min-width: 50px;
      width: 50px;
      height: 50px;
      padding: 8px;
      overflow: hidden;
      border: 2px solid rgb(56, 54, 54);
      border-radius: 10px;
      &--active {
        background: rgb(147, 98, 153);
        border: 2px solid rgb(147, 98, 153);
      }
    }
    &-title {
      overflow: hidden;
      text-align: left;
      font-weight: 700;
      font-size: 20px;
      margin-left: 20px;
      color: rgb(202, 204, 201);
      &--active {
        color: rgb(56, 62, 97);
      }
    }
  }
  &__icon {
    width: 50px;
    height: 50px;
    display: inline-block;
  }
}

@media (min-width: 768px) {
  .form {
    &__help-types {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
    &__help-type {
      width: 40%;
    }
  }
}

@media (min-width: 1024px) {
  .form {
    &__help-types {
      flex-wrap: nowrap;
    }
    &__help-type {
      width: 40%;
    }
  }
}
